<a href="https://colab.research.google.com/github/hemalatha36/Application-of-python-programming/blob/master/day2_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records2
Enter name 1sahana
Enter mark 123
Enter name 245
Enter mark 256
input:  {'sahana': 23, '45': 56}
output:  [('45', 56), ('sahana', 23)]

In [2]:
# Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records2
Enter name 1sahana
Enter salary 120000
Enter name 2shreyu
Enter salary 230000
input:  {'sahana': 20000.0, 'shreyu': 30000.0}
output:  [('sahana', 20000.0), ('shreyu', 30000.0)]

In [3]:
# Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary ascending order and sum, max, min and average of the salaries
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records2
Enter name 1sahana
Enter salary 135000
Enter name 2shree
Enter salary 245000
input:  {'sahana': 35000.0, 'shree': 45000.0}
output:  [('sahana', 35000.0), ('shree', 45000.0)]
sum:  80000.0
max:  45000.0
min:  35000.0
avg:  40000.0

In [5]:
# Python program to convert a 3 digit number into words
def convert_to_words(num):
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("923"); 
convert_to_words("523"); 
convert_to_words("898");

923 : nine hundred twenty three
523 : five hundred twenty three
898 : eight hundred ninety eight

Files

In [ ]:
# Python Program to count the total number of charaters (except blank space) in a text file
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

In [ ]:
# Python Program to print all the numbers present in a text file with its total number of occurrence
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

In [ ]:
# Python Program to append the contents of one file to another file by getting the both file names through keyboard 
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

In [ ]:
# Python Program to count the number of blank spaces in a text file
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

In [ ]:
# Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content into another file and read it .
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()